body {
    /*background-image: url('../IMG/Organismos/fondoAgregar.jpg');*/
    background-color:#D3D3D3;
    background-size: cover;
    background-position: center;
    height: 500px;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.caja {
    position: relative;
    top: 100px; /* Ajustar posición debajo del encabezado */
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); 
    max-width: 400px;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
}

.caja label {
    display: block; /* Asegura que los labels estén en su propia línea */
    margin-bottom: 5px; /* Espaciado entre el label y el input/select */
    font-weight: bold;
    font-size: 16px;
    color: #333;
    font-family: 'Times New Roman', Times, serif;
}

.caja select, 
.caja input[type="text"] {
    width: 90%; /* Asegura que los inputs/select ocupen todo el ancho */
    color: black; 
    background-color: white; 
    border: 1px solid #444; 
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    margin-bottom: 20px; /* Espaciado entre los inputs */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    font-family: 'Times New Roman', Times, serif;
}

.caja select option {
    color: black;
    background-color: wheat;
}

.header {
    background-color:#009933e6;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header h1 {
    margin: 0;
    font-size: 26px;
    letter-spacing: 1.5px;
}

.header .back-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header .back-icon img {
    width: 24px;
    height: 24px;
}

/* Estilo del select en fondo oscuro */
select {
    color: black; /* Texto blanco */
    background-color: white; /* Fondo gris oscuro */
    border: 1px solid #444; /* Borde gris oscuro */
    padding: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
}



select option {
    color: black;
    background-color: wheat;
}


button{
    background-color:#009933e6;
    color: white;
    width: 80px;
    height: 50px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    position: relative;
    left: 37%;
    font-family: 'Times New Roman', Times, serif;
}