body {
    font-family: 'Arial', sans-serif;
    background-image: url('../IMG/login.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.header {
    background-color: rgba(0, 153, 51, 0.9); /* Verde con transparencia */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header h1 {
    margin: 0;
    font-size: 26px;
    letter-spacing: 1.5px;
}

.header .back-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header .back-icon img {
    width: 24px;
    height: 24px;
}

form {
    background-color: rgba(255, 255, 255, 0.9); /* Fondo blanco translúcido */
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    animation: fadeIn 0.8s ease-in-out;
    margin-top: 100px; /* Espaciado para evitar solapamiento con el header */
    width: 100%;
    max-width: 400px;
}

form h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #009900; /* Verde seguro */
}

label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333333; /* Gris seguro */
}

input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #cccccc; /* Gris claro seguro */
    border-radius: 6px;
    font-size: 16px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #009900; /* Verde seguro */
    outline: none;
    box-shadow: 0 0 5px rgba(0, 153, 0, 0.5); /* Verde seguro */
}

/* Botones de guardar y cancelar */
button[type="submit"], 
button[type="reset"] {
    width: 100px;
    padding: 10px;
    margin: 5px;
    background-color: #009900; /* Verde seguro */
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover, 
button[type="reset"]:hover {
    background-color: #00cc00; /* Verde claro */
}

button[type="reset"] {
    background-color: #cc0000; /* Rojo para cancelar */
}

button[type="reset"]:hover {
    background-color: #ff1a1a; /* Rojo claro para cancelar */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
select {
    display: block;
    width: 106%; 
    padding: 10px; 
    margin-bottom: 10px; 
    font-size: 16px;
    font-weight: bold; 
    color: #333333; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    background-color: #f9f9f9; 
    box-sizing: border-box; 
}

select:focus {
    outline: none; 
    border-color: #666; 
}