body{
    font-family: 'Times New Roman', Times, serif;
   /* background-color: #F1E7D0   ;*/
    background-size: cover;
    background-position: center;
    background-color:#D3D3D3;
}

.header {
    background-color: rgba(0, 153, 51, 0.9); 
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-family: 'Times New Roman', Times, serif;
}

.header h1 {
    margin: 0;
    font-size: 26px;
    letter-spacing: 1.5px;
}

.header .back-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header .back-icon img {
    width: 24px;
    height: 24px;
}


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #009933;
    color: white;
}

button {
    padding: 8px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
}

button:hover {
    background-color: #0056b3;
}
