body{
    background-image: url('../IMG/muestra.jpg');
    background-size: cover;
    background-position: center;
}

.caja {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    max-width: 400px;
    margin: auto;
    font-family: Arial, sans-serif;
}

.caja h1 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}


.caja label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}


.caja input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.caja button {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px; 
    position: relative;
    left: 120px;
}

.caja button:first-of-type {
    background-color: #007BFF; 
    color: white;
}

.caja button:last-of-type {
    background-color: #28a745; 
    color: white;
}

.caja button:hover {
    opacity: 0.9;
}
.boton{
    width: 100px;
    height: 30px;
    border-radius: 8px;
    position: relative;
    top: -200px;
    left: 40px;
    color: white;
    background-color: #28a745; 
    font-size: 16px;
    border: none;
}