body {
    background-color: rgba(6, 6, 12, 0.938);
    background-size: cover;
    background-position: center;
}

.caja {
    background-image: url('../IMG/Organismos/fondo.png');
    position: relative;
    top: 60px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    font-family: Arial, sans-serif;
    width: 80%;  /* Ajuste de ancho para mejor responsividad */
    max-width: 1200px; /* Limita el ancho máximo */
    display: flex;  /* Usamos Flexbox para alinear las cajas horizontalmente */
    justify-content: center; /* Centra las cajas horizontalmente */
    gap: 20px; /* Espacio entre las cajas */
    align-items: center; /* Alinea las cajas verticalmente en el centro */
}

.caja2 {
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 300px; /* Ajustar el ancho de caja3 */
    text-align: center;
    flex-shrink: 0; /* Evita que caja3 se reduzca de tamaño */
}
.caja3 {
    background-color: #ffffff; /* Fondo blanco */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 8px;
    padding: 30px 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    width: 290px; /* Ajustar el ancho de caja3 */
    text-align: center;
    flex-shrink: 0; /* Evita que caja3 se reduzca de tamaño */
}

.header {
    background-color: rgba(0, 153, 51, 0.9); /* Verde con transparencia */
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header h1 {
    margin: 0;
    font-size: 26px;
    letter-spacing: 1.5px;
}

.header .back-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.header .back-icon img {
    width: 24px;
    height: 24px;
}

/* Estilo del select en fondo oscuro */
select {
    color: black; /* Texto blanco */
    background-color: white; /* Fondo gris oscuro */
    border: 1px solid #444; /* Borde gris oscuro */
    padding: 5px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    border-radius: 5px;
}

select option {
    color: black;
    background-color: wheat;
}
